---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import DepartmentGrid from '../components/DepartmentGrid.astro';
import FacultySection from '../components/FacultySection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="min-h-screen flex flex-col selection:bg-gold selection:text-white">
    <Navbar />
    <main>
      <Hero />
      <AboutSection />
      <DepartmentGrid />
      <FacultySection />
    </main>
    <Footer />
  </div>
</Layout>
